.details {
  flex: 2;
  .detailsHeader {
    .list {
      display: flex;
      justify-content: space-between;

    }
  }
  .productData {
    .product {
      display: flex;
      justify-content: space-between;
      .priceWrapper {
        .icon{
          background-color: red;
        }
      }
    }
  }
}
