@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Bai';
  src: url('../src/shared/assets/fonts/BaiJamjuree-Regular.ttf') format('woff2'),
       url('/fonts/roboto.woff2') format('woff');
  font-weight: 400;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
}

#root,
body,
html {
  font-family: "Bai";
  min-height: 100vh;
  max-width: 100vw;
  padding: 0 !important;
  margin: 0;
  color: #212529;
}
