@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

#root,
body,
html {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  min-height: 100vh;
  min-width: 100vw;
  padding: 0 !important;
  margin: 0;
  overflow-x: hidden;
}
