@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

#root,
body,
html {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  min-height: 100vh;
  max-width: 100vw;
  padding: 0 !important;
  margin: 0;
}

.CheckoutFormInput {
  @apply w-full h-16 text-base focus:ring-lightAqua
  focus-visible:ring-lightAqua ring-lightAqua ring-offset-0
   inset-0 flex rounded-md border border-slate-200
    bg-transparent px-3 py-1 shadow-sm transition-colors
     file:border-0 file:bg-transparent file:text-sm file:font-medium
      placeholder:text-slate-500 focus-visible:outline-none
       focus-visible:ring-1 disabled:cursor-not-allowed disabled:opacity-50
        dark:border-slate-800 dark:placeholder:text-slate-400
         dark:focus-visible:ring-slate-300;
}

.table-cell {
  @apply border-r-[.5px] border-t-[.5px] border-slate-300 px-4;
}
